<p class="notice"><%= notice %></p>

<h1>Listing Videos</h1>
<%= link_to new_video_path , :class => 'btn-floating btn-large waves-effect waves-light red' do %>
<i class="material-icons">add</i>
<% end %>

<ul class="collapsible" data-collapsible="accordion">
  <% @videos.each do |video| %>
    <li>
      <div class="collapsible-header">
       <i class="material-icons">all_inclusive</i>
        <%= link_to video.title , video %>
        <div class="right-position">
          <%= link_to edit_video_path(video) do %>
           <i class="material-icons">build</i>
          <% end %>
          <%= link_to video ,  method: :delete , data: {confirm: 'are you sure'} do %>
            <i class="material-icons">clear</i>
          <% end %>
        </div>
      </div>
      <div class="collapsible-body"><span><%= video.description%></span></div>
    </li>
    <% end %>
  </ul>
        